/* src/components/Navbar.css */
.navbar {
    background: linear-gradient(90deg, #532c73, #240029);
    color: #f8f3e4;
    padding: 1rem 2rem;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
    text-shadow: 2px 2px #000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #f8f3e4;
    font-family: "Cinzel", serif;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffb400;
}

.expanding-menu {
    position: relative;
}

.submenu-box {
    display: none;
    position: absolute;
    top: 100%;
    /* Position below the parent menu item */
    left: 0;
    background-color: gray;
    opacity: 90%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.submenu li {
    padding: 5px 10px;
    cursor: pointer;
}

.submenu li:hover {
    background-color: #f0f0f0;
}

.expanding-menu:hover .submenu-box {
    display: block;
}